@use "variables";

body {
  font-size: 15px;
  font-family: variables.$manrope;
  font-weight: 600;
  color: variables.$gBlue;
  background-color: variables.$vpaleBlue;
}

.background {
  position: absolute;
  height: 50vh;
  width: 100%;
  background-color: variables.$lgBlue1;
  z-index: -1;
  border-radius: 0 0 0 5rem;
}

.header {
  background: center/contain no-repeat url(images/pattern-circles.svg);
}

.header-text {
  font-size: 0.8rem;
  font-weight: 600;
}

.title {
  color: variables.$dBlue;
  font-weight: 800;
}
.card {
  width: 90%;
}

.upper-card {
  border-bottom: solid variables.$lgBlue1 0.15rem;
}

// Slider styling
.slider {
  -webkit-appearance: none;
  margin-bottom: 1.5rem;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  background: variables.$softCyan;
  height: 0.5rem;
  border-radius: 1rem;
}

.slider::-moz-range-track {
  background: variables.$softCyan;
  height: 0.5rem;
  border-radius: 1rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background: center no-repeat url(images/icon-slider.svg);
  background-size: 55%;
  background-color: variables.$strongCyan;
  border-radius: 50%;
  margin-top: -0.6rem;
  box-shadow: 0 0.5rem 0.5rem variables.$softCyan;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background: center no-repeat url(images/icon-slider.svg);
  background-size: 55%;
  background-color: variables.$strongCyan;
  border-radius: 50%;
  margin-top: -0.6rem;
  border: none;
  box-shadow: 0 0.5rem 0.5rem variables.$softCyan;
}

//End slider styling

.price-number {
  color: variables.$dBlue;
}

.switch {
  background-color: variables.$lgBlue2;
  border: none;
  height: 1.25rem;
  outline: none;
}

.switch:checked {
  background-color: variables.$softCyan;
  border: none;
}

.switch-span {
  font-size: 0.75rem;
  font-weight: 800;
}

.form-switch .form-check-input {
  width: 2.5rem;
  margin-right: 0.5rem;
}

.discount {
  background-color: variables.$lgred;
  color: variables.$lred;
  border-radius: 1rem;
}

li {
  &:before {
    content: url("images/icon-check.svg");
    padding-right: 1rem;
  }
}

.btn {
  background-color: variables.$dBlue;
  color: variables.$lgBlue2;
  font-size: 0.75rem;
  font-weight: 800;
}

// Hides labels for everything except screen readers
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
