@use "variables";

body {
  font-size: 15px;
  font-family: variables.$manrope;
  font-weight: 600;
  color: variables.$gBlue;
  background-color: variables.$vpaleBlue;
}

.title {
  color: variables.$dBlue;
  font-weight: 800;
}
.card {
  width: 90%;
}

// Slider styling
.slider {
  -webkit-appearance: none;
  margin-bottom: 1.5rem;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  background: variables.$softCyan;
  height: 0.5rem;
  border-radius: 1rem;
}

.slider::-moz-range-track {
  background: variables.$softCyan;
  height: 0.5rem;
  border-radius: 1rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background: center no-repeat url(images/icon-slider.svg);
  background-size: 55%;
  background-color: variables.$strongCyan;
  border-radius: 50%;
  margin-top: -0.6rem;
  box-shadow: 0 0.35rem 0.35rem variables.$softCyan;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background: center no-repeat url(images/icon-slider.svg);
  background-size: 55%;
  background-color: variables.$strongCyan;
  border-radius: 50%;
  margin-top: -0.6rem;
  border: none;
}

.switch {
  height: 1.5rem;
  width: 3rem;
  background-color: variables.$lgBlue2;
}

li {
  &:before {
    content: url("images/icon-check.svg");
  }
}

.btn {
  background-color: variables.$dBlue;
  color: variables.$lgBlue2;
  font-size: 0.75rem;
  font-weight: 800;
}
