// Colors
// Primary

$dBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$bCyan: hsl(192, 70%, 51%);

// Neutral

$gBlue: hsl(233, 8%, 62%);
$lgBlue: hsl(220, 16%, 96%);
$vlGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Fonts
$publicsans: "Public Sans", sans-serif;
