@use "bootstrap-5.0.2/scss/bootstrap-utilities.scss";
@use "bootstrap-5.0.2/scss/bootstrap.scss";
@use "myVariables.scss";

body {
  background-color: myVariables.$lgBlue;
  font-family: myVariables.$publicsans;
  font-size: 18px;
  color: myVariables.$gBlue;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: myVariables.$dBlue;
}

.hero {
  background: center / cover no-repeat url("./images/bg-intro-mobile.svg");
}

.hero-img {
  max-width: 100%;
}

.logo-toggle-container {
  background-color: myVariables.$white;
  height: 100%;
}

.navbar {
  z-index: 2;
  padding-bottom: 0;
}

.navbar-nav .nav-link.active,
.nav-link,
.navbar-text {
  color: myVariables.$dBlue;
  font-weight: 700;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list-container {
  position: relative;
}

.nav-list-container.active {
  width: 80%;
  margin-top: 2rem;
  background-color: myVariables.$white;
  border-radius: 0.5rem;
  z-index: 10;
  position: absolute;
  left: 10%;
  top: 85%;
  align-items: center;
}

.collapsing {
  width: 80vw;
  margin-top: 2rem;
  background-color: myVariables.$white;
  border-radius: 0.5rem;
  z-index: 10;
  position: absolute;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
}

.collapse {
  background-color: myVariables.$white;
  border-radius: 0.5rem;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}

.navbar-collapse.show {
  padding: 1rem 0;
}

.navbar-toggler-icon {
  background: center / contain no-repeat url("./images/icon-hamburger.svg");
}

.navbar-toggler-icon.active {
  background: center / contain no-repeat url("./images/icon-close.svg");
  background-size: 1rem;
}

.nav-btn {
  display: none;
}

.overlay.active {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.hero-text-container {
  background-color: myVariables.$vlGray;
}

.hero-text {
  font-size: 0.8rem;
  font-weight: 400;
}

.btn {
  background: linear-gradient(
    90deg,
    myVariables.$limeGreen,
    myVariables.$bCyan 95%
  );
  color: myVariables.$white;
  font-size: 0.75rem;
  font-weight: 400;
  &:hover {
    color: myVariables.$white;
    opacity: 80%;
  }
}

.why-container {
  .why-text {
    font-size: 0.9rem;
  }
}

// article-blog section
.blog {
  background-color: myVariables.$vlGray;
}

// Cards
.card {
  max-width: 95%;
  padding: unset;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    .card-title {
      color: myVariables.$limeGreen;
    }
  }
}

.card-img-top {
  width: 100%;
  height: 60vw;
  object-fit: cover;
}

.card-subtitle {
  font-size: 0.7rem;
  padding: 0.75rem 0;
}

.card-title {
  font-size: 1.05rem;
  &:hover {
    color: myVariables.$limeGreen;
    cursor: pointer;
  }
}

.card-text {
  font-size: 0.9rem;
}

.card-body {
  padding: 2rem 1rem;
}

// Footer
footer {
  background-color: myVariables.$dBlue;
  margin-top: 5rem;
}

.icon-link {
  padding: 0.35rem;
  &hover {
    cursor: pointer;
  }
}

.footer-link {
  font-weight: 300;
  color: myVariables.$white;
  &:after {
    content: "";
    background: unset;
  }
  &:hover {
    color: myVariables.$limeGreen;
  }
}

@media (min-width: 768px) {
  .hero {
    align-items: center;
  }
  .card {
    max-width: 45%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .desktop-nav {
    width: 100vw;
    height: 20%;
    background-color: myVariables.$white;
    padding: 0 5rem;
  }
  .navbar {
    a {
      color: myVariables.$gBlue;
      &:hover {
        color: myVariables.$dBlue;
      }
    }
  }

  .nav-item {
    position: relative;
  }

  .navbar-link:after {
    content: "";
    position: absolute;
    top: 145%;
    left: 50%;
    height: 0.25rem;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
    background: linear-gradient(
      90deg,
      myVariables.$limeGreen,
      myVariables.$bCyan 95%
    );
  }

  .navbar-link:hover:after {
    width: 100%;
    left: 0%;
  }

  .logo-toggle-container {
    width: 30%;
  }

  .nav-list-container {
    border-radius: unset;
    padding: 1.25rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    padding: 0 0.75rem;
  }

  .nav-btn {
    display: block;
  }

  .hero {
    height: 75vh;
    display: flex;
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 130%;
    background-position: left -50% top 80%;
  }

  .hero-img {
    position: absolute;
    display: flex;
    width: 40%;
    right: -6.5%;
  }

  .hero-text-container {
    background-color: unset;
  }

  .my-3 {
    font-size: 1.25rem;
  }

  header {
    background-color: myVariables.$vlGray;
  }

  .card {
    max-width: 23%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .card-img-top {
    height: 15vw;
  }

  .icon {
    &:hover {
      cursor: pointer;
      fill: myVariables.$limeGreen;
    }
  }
}

@media (min-width: 1024px) {
  .nav-btn {
    font-size: 0.6rem;
  }
}

@media (min-width: 1200px) {
  .nav-btn {
    font-size: 0.9rem;
  }
}

@media (min-width: 1800px) {
  .navbar {
    a {
      font-size: 1.25rem;
    }
  }

  .btn,
  .nav-btn {
    font-size: 1.25rem;
  }

  .hero-text-container {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .hero-text,
  .card-text {
    font-size: 1.5rem;
  }

  .my-3 {
    font-size: 2rem;
  }

  #about {
    h2 {
      font-size: 4rem;
    }
    h5 {
      font-size: 1.75rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .blog {
    h3 {
      font-size: 4rem;
    }

    .card-subtitle {
      font-size: 1.25rem;
    }

    .card-title {
      font-size: 2rem;
    }
  }

  footer {
    a {
      font-size: 1.25rem;
    }
  }
}
