@use "bootstrap-5.0.2/scss/bootstrap-utilities.scss";
@use "bootstrap-5.0.2/scss/bootstrap.scss";
@use "myVariables.scss";

body {
  background-color: myVariables.$vlGray;
  font-family: myVariables.$publicsans;
  font-size: 18px;
  color: myVariables.$gBlue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: myVariables.$dBlue;
}

.hero {
  background: center / contain no-repeat url("./images/image-mockups.png"),
    url("./images/bg-intro-mobile.svg");
  height: 60vh;
}

.hero-img {
  max-width: 100%;
}

.logo-toggle-container {
  background-color: myVariables.$white;
  height: 100%;
}

.navbar {
  z-index: 2;
}

.navbar-nav .nav-link.active,
.nav-link {
  color: myVariables.$dBlue;
  font-weight: 700;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list-container {
  width: 80%;
  margin-top: 2rem;
  background-color: myVariables.$white;
}

.navbar-toggler-icon {
  background: center / contain no-repeat url("./images/icon-hamburger.svg");
}

.navbar-toggler-icon.active {
  background: center / contain no-repeat url("./images/icon-close.svg");
  background-size: 1rem;
}

.nav-btn {
  display: none;
}

.overlay.active {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.hero-text-container {
  background-color: myVariables.$white;
}

.hero-text {
  font-size: 0.8rem;
  font-weight: 400;
}

.btn {
  background: linear-gradient(
    90deg,
    myVariables.$limeGreen,
    myVariables.$bCyan 95%
  );
  color: myVariables.$white;
}

.why-container {
  .why-text {
    font-size: 0.9rem;
  }
}

// Cards
.card-subtitle {
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

.card-text {
  font-size: 0.9rem;
}

.card-body {
  padding: 2rem 1rem;
}
@media (min-width: 992px) {
  .navbar {
    a {
      color: myVariables.$lgBlue;
    }
  }

  .nav-btn {
    display: block;
  }
}
